name: Build and Push to GitHub Pages

on:
  push:
    branches:
      - master
    paths:
      - ".github/workflows/**.yml"
      - "config/**"
      - "content/**"
      - "archetypes/**"
      - "themes/**"
      - "data/**"
      - "assets/**"
      - "layouts/**"
      - "static/**"
      - "images/**"

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  build-page:
    runs-on: ubuntu-latest
    concurrency:
      group: ${{ github.workflow }}-${{ github.ref }}
    steps:
      - name: Checkout Git Repository
        uses: actions/checkout@v3
        with:
          submodules: true
          fetch-depth: 0

      - name: Setup Hugo
        uses: peaceiris/actions-hugo@v2
        with:
          hugo-version: "latest"
          extended: true

      - name: Build site
        run: hugo --minify

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v2
        with:
          path: ./public

  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    needs: build-page
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v2